# Rust
target/
Cargo.lock
**/*.rs.bk

# macOS
*.xcuserstate
xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store
platforms/macos/*.a
platforms/macos/*.dylib
platforms/macos/build/
*.xcworkspace/
project.xcworkspace/

# Windows
bin/
obj/
*.exe
*.dll
*.pdb

# Build artifacts
*.o
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Config
config.toml
